@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page section-width">
    <div class="section-padding">
        <div class="vult-page-title">
            <h1 class="vult-account-title">@T("Account.PasswordRecovery")</h1>
        </div>
        <div class="page-body">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
                <div class="buttons">
                    <a href="@Model.ReturnUrl" class="button-1 primary-btn"><span>@T("Common.Continue")</span></a>
                </div>
            }
            @if (!Model.DisablePasswordChanging)
            {
                <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="vult-form vult-form-width">
                        <div class="vult-form-fields">
                            <div class="inputs">
                                <div class="vult-input">
                                    <input class="vult-input-effect" asp-for="NewPassword" placeholder="@T("account.passwordrecovery.newpassword")" />
                                    <label asp-for="NewPassword"></label>
                                    <nop-required />
                                    <span class="focus-border"><i></i></span>
                                </div>
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="inputs">
                                <div class="vult-input">
                                    <input class="vult-input-effect" asp-for="ConfirmNewPassword" placeholder="@T("account.passwordrecovery.confirmnewpassword")" />
                                    <label asp-for="ConfirmNewPassword"></label>
                                    <nop-required />
                                    <span class="focus-border"><i></i></span>
                                </div>
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" name="set-password" class="button-1 new-password-button primary-btn"><span>@T("Account.PasswordRecovery.ChangePasswordButton")</span></button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>